@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

/* navbar */

.navbar-container{
width: 100%;
border-top: 1px solid black;
background-color: white;
}

ul  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}


a{
  text-decoration: none;
  color:black;
  text-transform: uppercase;
  font-family: 'Secular One', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}


.link-about:hover{
  color: greenyellow !important;
  
}

.link-projects:hover{
  color: #ff0099 !important
}

.link-skills:hover{
  color: #f3f315 !important
}

.link-experience:hover{
  color: #ff6600 !important
}
.link-contacts:hover{
  color: #3500ff !important
}

/* home */

.home-section{
display: flex;
flex-direction: column;
}
.home-div{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.my-name{
  display: flex;
  margin-top: 50px;
  text-transform: uppercase;
  font-family: 'Elsie', cursive;
  font-size: 70px;
}
.my-title{
  text-transform: uppercase;
  font-family: 'Secular One', sans-serif;
}
.bio{
font-family: 'Prata'; 
margin: 30px;
text-align: center;
 
  
}

/* intermezzo */
.intermezzo{
  border-top: 1px solid black;
  border-bottom: 1px solid black; 
  width: 100%;
  height: 200px ;
}
/* skills */

.card-one{
  display:flex;
  flex-direction: column;
}
.title-card{
display: flex;
flex-direction: column;
align-items: center;
text-transform: uppercase;
font-family: 'Secular One', sans-serif;
}




